<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812939927546-o34tcvnptqp3qf3tabhetdb7j1fp02ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812939927546-o34tcvnptqp3qf3tabhetdb7j1fp02ev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>812939927546-14leah7gav33ks2v4q8anodglbroiuo2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBier9fQv0dpuakPQ5phqJMLqdRnFWfgOM</string>
	<key>GCM_SENDER_ID</key>
	<string>812939927546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.userjoy.sgc.vinn</string>
	<key>PROJECT_ID</key>
	<string>anhhungtamquoc</string>
	<key>STORAGE_BUCKET</key>
	<string>anhhungtamquoc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812939927546:ios:815635fb7e17cd31f90e43</string>
	<key>DATABASE_URL</key>
	<string>https://anhhungtamquoc-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>